.App {
  margin: 0 50px;
  overflow: hidden;
}

/* header-input */
.input__container {
  background-color: lightgray;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  margin: 20px 0;
  padding-left: 10px;
}
.input__box {
  margin: 0 10px;
  height: 19px;
}
h1 {
  cursor: pointer;
  width: 250px;
}

/* root node */
.node-root__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.node.node-root {
  background-color: lightyellow;
}

.top-search__button {
  background-color: white;
  border: none;
  cursor: pointer;
  color: blue;
}

/* node */
.tree-node {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.node {
  width: 120px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
  background-color: lightgray;
}
#direct {
  background-color: lightgreen;
}
.node-code {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
/* vertical line */
.node:not(.node-root).node::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 1px;
  height: 20px;
  background-color: black;
}

.node::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 1px;
  height: 20px;
  background-color: black;
}

/* children & horizontal line*/

.children {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}
.children::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: black;
}

.white-cover {
  background-color: white;
  z-index: 2;
  width: 500vw;
  height: 25px;
  margin: -20px;
}
