body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 50px;
}
.input__container {
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
}

.tree-node {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.node-root__container {
  display: flex;
}
.top-search__button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.node {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}
.node:not(.node-root).node::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 1px;
  height: 20px;
  background-color: black;
}

.node::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 1px;
  height: 20px;
  background-color: black;
}

.children {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}
.children::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: black;
}
.children.last-node::before {
  display: none;
}
.node-code {
  color: blue;
  cursor: pointer;
}
